<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppReleaseDate</key>
	<string>03-29-2026</string>
	<key>ContactsUsageDescription</key>
	<string>LocTrac uses your contacts to help you quickly add people to your events</string>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
